/*Footer*/
blockquote{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    color: #666;
}

.footer-copyright{
    color: #666;
    text-decoration: none;
}

/*Form Upload*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-select {
    font-size: 30px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/*Checkbox*/
.single-checkbox{
    height: 18px;
}

input[type=checkbox], input[type=radio] {
    padding: 0;
    width: 20px;
}

.single-label{
    color: #666;
    font-size: 25px;
    padding-right: 15px;
}